.button {
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  cursor: pointer;
  text-decoration: none;
  outline: none; 
  border-radius: $border-radius;
  border: $border-big solid transparent;
  background-color: $main-text-color;

  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: $color-white;
  transition:
    background-color $effectDuration,
    color $effectDuration,
    border $effectDuration;

  @include on-desktop {
    grid-column: span 4;
  }

  &--large {
    grid-column: 1 / -1;
    margin-top: 16px;
    line-height: 27px;

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &:hover {
    background-color: $row-background-color;
    color: $main-text-color;
    border: $border-big solid $color-button-hover;
  }

  &:active {
    transform: scale(0.98);
    background-color: $color-dark-gray;
    color: $color-white;
  }
}

.image {
  height: 200px;
  margin-bottom: 48px;

  background-image: url(../images/image-button.png);
  background-size: cover;
  background-position: center;

  @include on-desktop {
    height: 400px;
    margin-bottom: 120px;
  }

  @include on-desktop {
    height: 460px;
  }
}
