.contact-us {
  &__wrapper {
    @include on-desktop {
      @include page-grid;
    }
  }

  &__content {
    grid-column: 1 / -1;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 80px;
    }

    @include on-desktop {
      grid-column: 1 / span 5;
    }
  }

  &__row {
    margin-bottom: 16px;
  }

  &__text {
    width: 100%;
    display: block;
    box-sizing: border-box;
    border-radius: $border-radius;
    border: $border-small solid transparent;
    background-color: $row-background-color;
    height: 48px;

    padding: 14px 16px;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    color: $row-color;

    &--textarea {
      height: 148px;
      resize: none;
      line-height: 140%;
      padding: 14px 16px;
    }

    &:hover {
      color: $main-text-color;
      border: $border-small solid $row-hover-border;
    }

    &:focus-visible {
      outline: none;
      border: $border-small solid $main-text-color;
    }
  }

  &__infos {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 7 / -1;
    }
  }

  &__item {
    margin: 0;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    color: $row-color;

    @include hover(color, $row-color-dark);

    &--bold {
      font-size: 16px;
      color: $row-color-bold;
      margin-top: 4px;
      margin-bottom: 24px;
    }
  }
}
