.main {
  &__content {
    @include page-grid;

    row-gap: 64px;
    padding-top: 64px;
    padding-bottom: 96px;

    @include on-tablet {
      padding-block: 120px;
    }
  }

  &__content > * {
    grid-column: 1 / -1;
  }
}
