.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: $menu-background-color;

  &__top {
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 48px;
  }

  &__phone-number {
    display: block;
    color: inherit;
    text-decoration: none;
    letter-spacing: 2px;
    margin-bottom: 16px;
  }

  &__call-to-order {
    display: block;
    width: fit-content;
    padding-bottom: 3px;
    border-bottom: $border-small solid $main-text-color;
    color: inherit;
    text-decoration: none;
    letter-spacing: 2px;
  }
}
