$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$main-text-color: #292929;
$menu-background-color: #e5e5e5;
$row-background-color: #f8f8fa;
$row-color: #7e7e83;
$row-hover-border: #d5d7de;
$row-color-dark: #044f85;
$row-color-bold: #191919;
$color-white: #fff;
$color-dark-gray: #111;
$color-button-hover: #f0f1f4;
$border-small: 1px;
$border-big: 2px;
$border-radius: 8px;
$border-radius-smoll: 4px;
